@font-face {
  font-family: "iconfont"; /* Project id 4045145 */
  src: url('iconfont.woff2?t=1682757875843') format('woff2'),
       url('iconfont.woff?t=1682757875843') format('woff'),
       url('iconfont.ttf?t=1682757875843') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-finish:before {
  content: "\e600";
}

.icon-up:before {
  content: "\e601";
}

.icon-down:before {
  content: "\e602";
}

.icon-delete:before {
  content: "\e603";
}

